@tailwind base;
@tailwind components;
@tailwind utilities;

.rmc-tabs-tab-bar-tab-active {
    color: #715bfd !important;
}

.rmc-tabs-tab-bar-underline {

    border: 1px #715bfd solid !important;
}

.rmc-tabs-tab-bar-wrap {
    position: fixed;
    bottom:0px;
    width: 100%;
}